.border-radius(@n:6px){
	-webkit-border-radius: @n;
	-moz-border-radius: @n;
	-ms-border-radius: @n;
	-o-border-radius: @n;
	border-radius: @n;
}
.box-shadow(@n:0 0 6px #000){
	-webkit-box-shadow: @n;
	-moz-box-shadow: @n;
	-ms-box-shadow: @n;
	-o-box-shadow: @n;
	box-shadow: @n;
}
.rotate(@n:30deg){
	-webkit-transform: rotate(@n);
	-moz-transform: rotate(@n);
	-ms-transform: rotate(@n);
	-o-transform: rotate(@n);
	transform: rotate(@n);
}
.transition(@n:0.2s){
	-webkit-transition:@n;
	-moz-transition:@n;
	-ms-transition:@n; 
	-o-transition:@n;  
	transition:@n;
}
.opacity(@n:0.5){
	@nie : @n*100;
	-webkit-opacity: @n;
	-moz-opacity: @n;
	-ms-opacity: @n;
	-o-opacity: @n;
	opacity: @n;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=(@{nie}))";
	filter:~"alpha(opacity=@{nie})";
}
.rotate(@n:30deg){
	-webkit-transform: rotate(@n);
	-moz-transform: rotate(@n);
	-ms-transform: rotate(@n);
	-o-transform: rotate(@n);
	transform: rotate(@n);
}
.background-size(@n:auto auto){
	-webkit-background-size: @n;
	-moz-background-size: @n;
	-ms-background-size: @n;
	-o-background-size: @n;
	background-size: @n;
}
.placeholder(@color) {
	&::-webkit-input-placeholder {
		color: @color;
	}
	&:-moz-placeholder {
		color: @color;
	}
	&::-moz-placeholder {
		&:after{
			
		}color: @color;
	}
}
