
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-down-open:before { content: '\e808'; } /* '' */
.icon-left-open:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-up-open:before { content: '\e80b'; } /* '' */
.icon-group:before { content: '\e80c'; } /* '' */
.icon-comments:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-info:before { content: '\e811'; } /* '' */
.icon-help:before { content: '\e812'; } /* '' */
.icon-quote:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-etc:before { content: '\e815'; } /* '' */
.icon-keyboard:before { content: '\e816'; } /* '' */
.icon-right:before { content: '\e817'; } /* '' */
.icon-down:before { content: '\e818'; } /* '' */
.icon-up:before { content: '\e819'; } /* '' */
.icon-left:before { content: '\e81a'; } /* '' */
.icon-cancel:before { content: '\e81b'; } /* '' */
.icon-file:before { content: '\e81c'; } /* '' */
.icon-view:before { content: '\e81d'; } /* '' */
.icon-pin:before { content: '\e81e'; } /* '' */
.icon-calendar:before { content: '\e962'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */